.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.Input {
  display: block;
  margin: 7px auto;
  box-shadow: 0 1px 2px #eee;
  border: 2px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
}

.Input::placeholder {
  padding: 2px;;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}